//- require data:
    projects = { "id": { name, language, time, demoURL(opt), githubURL(opt), about, description, details(opt), demoPics: [title, src] }, ...}

html(lang="en")
    head
        meta(charset="UTF-8")
        title My Projects | Frances's Website
        link(rel="stylesheet" type="text/css" href="/css/projects.css")
        link(rel="icon" href="/images/mainIcon.png")

    body
        include ./partials/navbar

        #main
            each project, id in projects
                .project
                    .label Name: 
                        .name #{project.name}
                    .info-boxes
                        .label URL: 
                            if project.demoURL
                                a.url(href=`${project.demoURL}` target="_blank") Demo
                                | &nbsp; &nbsp;
                            if project.githubURL
                                a.url(href=`${project.githubURL}` target="_blank") GitHub
                        .label Language: 
                            .language #{project.language}
                        .label Time: 
                            .time #{project.time}
                    if project.about
                        .label About: 
                            .about #{project.about}
                    if project.demoPics.length > 0
                        button.expand(id=`demo-${id}` onclick=`expandCollapse(this)`) Screenshots &#9656;
                        .demo(id=`${id}-demo`)
                            each pic, picId in project.demoPics
                                img.demo-pic(src=`${pic.src}` alt=`${pic.title}` onclick=`displayModal("${id}", "${picId}")`)
                    if project.description
                        button.expand(id=`des-${id}` onclick=`expandCollapse(this)`) Description &#9656;
                        .description(id=`${id}-des`) !{project.description}
                    if project.details
                        button.expand(id=`det-${id}` onclick=`expandCollapse(this)`) Details &#9656;
                        .details(id=`${id}-det`) !{project.details}

            #demo-modal
                span#modal-close(onclick="closeModal()") ×
                img#modal-pic
                #modal-caption
                #modal-prev-next

        script(src=`/js/projects.js`)
        script.
            document.getElementById("projects-page").classList.add("chosen-page");